#search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    padding: 12px;
    width: 60%;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid mediumpurple;
    font-size: 16pt;
    outline: none;
}

input::placeholder{
    color: mediumpurple;
    font-weight: bold;
}

#searchButton{
    padding: 15px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(147, 112, 216);
    border: 1px solid mediumpurple;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

#searchButton:hover{
    background-color: white;
    color: mediumpurple ;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}