@import url('navbar.css');
@import url('title.css');
@import url('google.css');

*{
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
}


.container-content{
    width: 70%;
    padding: 0;
}

h1{
    color: mediumpurple;
}

a{
    cursor: pointer;
}